<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Library</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Available Books</a></li>
      <li><a href="badges.html">Book Reviews</a></li>
      <li><a href="collapsible.html">My Books</a></li>
      <li><a href="sass.html">Share a Post</a></li>

      <li><a href="sass.html">Login</a></li>
      <li><a href="sass.html">Sign Up</a></li>
      <li><a href="sass.html">Logout</a></li>



    </ul>
  </div>
</nav>

<!-- <header class="main-header">

  <div>
    <img src="/book.jpg" width="50" height="50" alt=""/>
    <h1 class="logo"><a href="#">Library</a></h1>
  </div><nav class="main-nav">
  
  <ul class="main-nav-list-items">
      <li class="main-nav-list-item">
        <a class="nav-link" href="/">Available Books</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/get-add-post">Book Reviews</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/">My Books</a>
      </li>

      <li class="main-nav-list-item">
        <a class="nav-link" href="/get-add-post">Share a Post</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/getLogin">Login</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/getSignup">Sign Up</a>
      </li>
      <form action="/logout" method="POST">
        <button>Logout</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>

      
    </ul>
  </nav>
</header> -->
