
<style>
  form{
    width: 50%;
    margin: 30px;
  }
</style>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Library</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">All Books</a></li>
    <% if(!isLoggedIn) { %> 
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    <% } %>

   


    <% if(isLoggedIn) { %> 
      <li><a href="/favorites">Favorites</a></li>
      <% if(isAdmin === "admin") { %>
        <li><a href="/addbooks">Add Books</a></li>
        <li><a href="/adminBooks">Admin Books</a></li>
      <% } %>
    <% } %>

    <% if(isLoggedIn) { %> 
      <li>
        <form action="/logout" method="POST">
          <button id="logout">Logout</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        </form>
      </li>
    <% } %>

    </ul>
  </div>
</nav>

<!-- <header class="main-header">

  <div>
    <img src="/book.jpg" width="50" height="50" alt=""/>
    <h1 class="logo"><a href="#">Library</a></h1>
  </div><nav class="main-nav">
  
  <ul class="main-nav-list-items">
      <li class="main-nav-list-item">
        <a class="nav-link" href="/">Available Books</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/get-add-post">Book Reviews</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/">My Books</a>
      </li>

      <li class="main-nav-list-item">
        <a class="nav-link" href="/get-add-post">Share a Post</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/getLogin">Login</a>
      </li>
      <li class="main-nav-list-item">
        <a class="nav-link" href="/getSignup">Sign Up</a>
      </li>
      <form action="/logout" method="POST">
        <button>Logout</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>

      
    </ul>
  </nav>
</header> -->
