<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('./includes/nav.ejs') %>

  <%- include('./includes/nav.ejs') %>
    <form action="/post-add-post" method="POST">
        <div class="form-group">
          <label for="text">Title</label>
          <input type="text" name="title" class="form-control" id="post-title">
        </div>
        <div class="form-group">
          <label for="post-content">Content</label>
          <textarea name="content" id="content" cols="60" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      </form>
</body>
</html>