<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('./includes/nav.ejs') %>

<form action="/login" method="POST">
    <label for="email">Email address</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button type="submit">Login</button>
    <button type="submit"><a href="/getResetPassword">Reset Password</a></button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

</form>