<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('./includes/nav.ejs') %>

<form action="/postSignup" method="POST">
    <label for="email">Email address</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="text" name="password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" name="confirmPassword">
    <button type="submit">Sign Up</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

</form>