<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('./includes/nav.ejs') %>
    
    <ul>
      <li><%= post.title %></li>
      <li><%= post.content %></li>
    </ul>
    
  </body>
</html>
